html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  font-family: 'Prompt', sans-serif !important;
  color: white !important;
}

.icon {
  color: #0036e6;
  padding-bottom: 10px;
}

.icon:hover {
  color: #5574dc;
}

.anchor {
  scroll-margin-top: 100px;
}

section {
  padding-top: 100% !important;
}

/*BG*/
.wrapper {
  height: 100%;
}

.fixed {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  display: table;
}

.bg {
  background-image: url("../images/diamond.jpg");
}

.bg2 {
  background-image: url("../images/diamond_b.jpg");
}


.feature-header-box {
  height: auto;
  width: 100%;
  background-color: rgb(158, 154, 154);
}

/*Responsive*/

.feature-header {
  font-size: 9vw;
  font-weight: bold;
  text-align: center;
}

.feature-box-title {
  font-size: 5vw;
  font-weight: bold;
}

p {
  font-size: 2vw;
  color: rgb(255, 255, 255);
}

@media (max-width: 980px) {

  .feature-header {
    font-size: 18vw;
  }

  .feature-box-title {
    font-size: 12vw;
  }

  p {
    font-size: 6vw;
  }
}

#features {
  padding: 15% 4% 15% 4%;
}

.feature-box {
  text-align: center;
  padding: 8%;
}

.glow-red {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 30px #fff, 0 0 30px #dd9dbd, 0 0 70px #e60073;
}

.glow-blue {
  color: rgb(62, 87, 232) !important;
  text-shadow: 0 0 30px #fff, 0 0 30px #91abe5, 0 0 70px #0036e6;
}

/*Fade in Image*/
.fade-in-image {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Navbar section */

.nav {
  width: 100% !important;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  z-index: 1;
}

.nav div.logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 3rem;
}

.nav div.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
}

.nav div.logo a:hover {
  color: #00E676;
}

.nav div.main_list {
  height: 65px;
  float: right;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 3rem;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 65px;
  font-size: 2rem;
}

.nav div.main_list ul li a:hover {
  color: #00E676;
}

/* Home section */

.home {
  width: 100%;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1500&q=80);
  background-position: center top;
  background-size: cover;
}

.navTrigger {
  display: none;
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}


/* Media qurey section */

.nav_container {
  width: 100%;
  margin: 0 !important;
}

@media screen and (max-width:1024px) {
  .navTrigger {
    display: block;
  }

  .nav div.logo {
    margin-left: 15px;
  }

  .nav div.main_list {
    width: 100%;
    height: 0;
    overflow: hidden;
  }

  .nav div.show_list {
    height: auto;
    display: none;
  }

  .nav div.main_list ul {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #111;
    /*same background color of navbar*/
    background-position: center top;
  }

  .nav div.main_list ul li {
    width: 100%;
    text-align: right;
  }

  .nav div.main_list ul li a {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    padding: 20px;
  }

  .nav div.media_button {
    display: block;
  }
}

.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
}

.navTrigger i {
  background-color: #fff;
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

.title-image {
  float: left;
  width: 25px;
  transform: rotate(25deg);
  margin-left: 30px;
  padding-left: 20px;
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(9px) rotate(0deg);
  }

  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(9px) rotate(0deg);
  }

  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-9px) rotate(0deg);
  }

  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-9px) rotate(0deg);
  }

  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

.affix {
  padding: 0;
  background: rgb(34, 22, 233);
  background: linear-gradient(90deg, rgba(34, 22, 233, 1) 0%, rgba(9, 21, 121, 1) 42%, rgba(255, 0, 0, 1) 100%);
}

.myH2 {
  text-align: center;
  font-size: 4rem;
}

.myP {
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 20px;
}

@media all and (max-width:1024px) {
  .myP {
    padding: 2%;
  }
}